<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>csmetrix</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>QualityTypesController</display-name>
    <servlet-name>QualityTypesController</servlet-name>
    <servlet-class>com.accountomation.web.QualityTypesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityTypesController</servlet-name>
    <url-pattern>/QualityTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordingsController</display-name>
    <servlet-name>RecordingsController</servlet-name>
    <servlet-class>com.accountomation.web.RecordingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordingsController</servlet-name>
    <url-pattern>/Recordings</url-pattern>
  </servlet-mapping>
</web-app>